In [1]:
# Gán giá trị
x = 1000
# In ra giá trị
print(x)

1000

In [2]:
# Gán giá trih
x=1000
#Biens lãi suất ngân hàng
y=1.1
# Tính toán
result= x * y **15
#In ra
print(result)

4177.248169415656

In [3]:
#Khai bao biên a
a = 10
#In ra
print(type(a))

<class 'int'>

In [4]:
#Khai bao bien
x=1000
y=1.1
z="100000"
q=True
print(type(x))
print(type(y))
print(type(z))
print(type(q))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
#Cac bien duoc khai ba san
x=1000
y=1.1
desc = "Data Science"
#Tinh
year1 = x*y
#In ra
print(type(year1))
# Tính tổng của desc và desc rồi lưu kết quả vào doubledesc
doubledesc = desc * 2
print(doubledesc)

<class 'float'>
Data ScienceData Science

In [6]:
# Khai bao bien
x = 1000
result = 1000 * 1.10 ** 15

# Sửa lại lệnh in dưới đây cho đúng
print("Tôi gửi ngân hàng $" + str(x) + ", sau 15 năm, bây giờ tôi đã có $" + str(result) + ". Tuyệt vời!")

# Khai báo pi_string
pi_string = "3.1415926"

# Chuyển pi_string sang float: pi_float
pi_float = float(pi_string)

Tôi gửi ngân hàng $1000, sau 15 năm, bây giờ tôi đã có $4177.248169415656. Tuyệt vời!

In [7]:
# Khai báo biến
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Tạo danh sách đúng
areas = [hall, kit, liv, bed, bath]

print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [8]:
# Khai báo biến
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Sua lai
areas = [hall, kit,"living room", liv, bed,"bathroom" ,bath]

print(areas)

[11.25, 18.0, 'living room', 20.0, 10.75, 'bathroom', 9.5]

In [9]:
# các biến thể hiện diện tích các phòng (m2)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# thông tin về ngôi nhà, biểu diễn bởi danh sách của các danh sách
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv]]

# in ra giá trị của house
print(house)

# in ra kiểu dữ liệu của house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0]]
<class 'list'>