In [1]:
#Khoi tao
areas = ["hallway",11.25,"kitchen",18.0,"living room",20.0,"bedroom",10.75,"bathrom",9.50]
#Sửa
areas[-1]=10.50
#Sửa
areas[4]='chill zone'
#iN RA
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathrom', 10.5]

In [2]:
# khởi tạo
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# thêm dữ liệu của poolhouse vào areas, tạo danh sách mới tên areas_1
areas_1 = areas  + ["poolhouse", 24.5]

# thêm dữ liệu của garage vào areas_1, tạo danh sách mới tên areas_2
areas_2 = list(areas_1)
areas_2.extend(["garage", 15.45])

# in ra areas_1 và areas_2
print(areas_1)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [3]:
# khởi tạo
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

# xóa "poolhouse"
del(areas[-4])

# xóa diện tích của poolhouse
del(areas[-3])

# in ra areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

In [4]:
# khởi tạo areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# tạo areas_copy
areas_copy = list(areas)

# thay đổi areas_copy
areas_copy[0]=5.0
#In ra areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [5]:
# khởi tạo
var1 = [1, 2, 3, 4]
var2 = True

# in ra kiểu của var1
print(type(var1))

# in ra số lượng phần tử của var1
print(len(var1))

# chuyển biến var2 sang số nguyên, kết quả lưu vào biến out2
out2 = int(var2)

<class 'list'>
4

In [6]:
# khởi tạo
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# ghép first và second vào danh sách full
full = first + second

# sắp xếp lại full theo thứ tự giảm dần, lưu vào biến full_sorted
full_sorted = sorted(full, reverse=True)

# in ra full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]